<!doctype html>
<html lang="en" ng-app="blogApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <title>Blog App</title>

  <!--STYLES-->
  <link rel="stylesheet" href="/linker/bower_components/semantic/build/packaged/css/semantic.css">
  <link rel="stylesheet" href="/linker/bower_components/angular-growl/build/angular-growl.min.js">
  <link rel="stylesheet" href="/linker/styles/ng-tags-input.css">
  <link rel="stylesheet" href="/linker/styles/style.css">
  <!--STYLES END-->

</head>
<body ng-cloak>

  <div class="ui one column page grid">
    <div class="column">

      <!-- Header -->
      <h2 class="ui huge center aligned icon header">
        <a href="/" id="logo"><i class="circular emphasized inverted teal book outline icon"></i></a>
        <div class="content">
          Read Me
          <div class="sub header">Welcome! Please find below some fantastic posts.</div>
        </div>
      </h2>

      <!-- Main navigation -->
      <div class="ui secondary pointing menu" ng-controller="NavCtrl">
        <a class="item" href="/">
          <i class="home icon"></i> Home
        </a>
        <a class="item" ng-show="isAuthenticated" href="/post/create">
          <i class="file icon"></i> New Post
        </a>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <input type="text" id="search-input" ng-model="searchQuery" placeholder="Search for...">
              <i class="search link icon" ng-click="search()"></i>
            </div>
          </div>
          <a ng-hide="isAuthenticated" class="ui item" show-modal="#modal-login">
            <i class="lock icon"></i> Login</a>
          <a class="ui item" ng-show="isAuthenticated" ng-click="logout()">
            <i class="unlock icon"></i> Logout
          </a>
        </div>
      </div>
    </div>

    <!-- Main view -->
    <div class="ui column" ng-view></div>

  </div>

  <!-- Growl notification system -->
  <div growl></div>

  <!-- Login modal -->
  <div class="ui modal small" id="modal-login" ng-controller="AuthCtrl" auth>
    <i class="close icon"></i>
    <div class="header">
      Login
    </div>
    <div class="content">
      <div class="ui form segment">
        <div class="field">
          <label>Username</label>
          <div class="ui left labeled icon input">
            <input type="text" ng-model="username" placeholder="Username">
            <i class="user icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left labeled icon input">
            <input type="password" ng-model="password" placeholder="Password">
            <i class="lock icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="ui red message" ng-class="{ error: !errorMessage }">
          {{ errorMessage }}
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui button cancel">Cancel</div>
      <div class="ui blue button positive">Login</div>
    </div>
  </div>

  <!--SCRIPTS-->
  <script src="/linker/bower_components/jquery/jquery.js"></script>
  <script src="/linker/bower_components/angular/angular.js"></script>
  <script src="/linker/bower_components/angular-route/angular-route.js"></script>
  <script src="/linker/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/linker/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="/linker/bower_components/angular-growl/build/angular-growl.js"></script>
  <script src="/linker/bower_components/ng-tags-input/ng-tags-input.js"></script>
  <script src="/linker/bower_components/moment/moment.js"></script>
  <script src="/linker/bower_components/semantic/build/packaged/javascript/semantic.js"></script>
  <script src="/linker/bower_components/showdown/src/showdown.js"></script>
  <script src="/linker/bower_components/truncate/jquery.truncate.js"></script>
  <script src="/linker/app/app.js"></script>
  <script src="/linker/app/controllers.js"></script>
  <script src="/linker/app/controllers/AuthCtrl.js"></script>
  <script src="/linker/app/controllers/NavCtrl.js"></script>
  <script src="/linker/app/controllers/PostEditCtrl.js"></script>
  <script src="/linker/app/controllers/PostIndexCtrl.js"></script>
  <script src="/linker/app/controllers/PostShowCtrl.js"></script>
  <script src="/linker/app/directives.js"></script>
  <script src="/linker/app/filters.js"></script>
  <script src="/linker/app/services.js"></script>
  <!--SCRIPTS END-->

</body>
</html>